.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: xx-large;
  border-bottom: 1px solid black;
}

.bigcardholder{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0px 20px 0px 20px;
  margin-top: 5vh;
  height: 20vh;
}

.bigcard{
  color: black;
  border: 1px solid black;
  padding: 20px;
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.bigcard:hover{
  box-shadow: 10px 10px 0px black;
}


.uploadcard{
  background-color: #d1e7dd;
  border-color: #0f5132;
  color: #0f5132;
}